%html
  %head
    %title= "My damn Twitter"
    %link{ :rel => "stylesheet", :type => "text/css", :href => "arit93itter.css"}
  %body
    #content= yield
    %a{:href => "/logout"}Logout
%a{:href => "/twitter"}twitter
%a{:href => "/twitter/replies"}Replies
%a{:href => "/"}home