<html>
<head>
    <title>auth_test</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div id="content">
    <div id="header">
        <div>
            <h1>auth_test</h1>
        </div>
        <br clear="all"/>
    </div>

    <div id="nav" style="float:right">
        <p>
        </p>
    </div>
    <br clear="all"/>

    <%= yield %>

    <div id="footer">
        <br/>
        <small>
        </small>
    </div>

</div>

</body>
</html>